extends layoutBSBrandeis

block content
  .jumbotron#addposts

  .container
    form(method='POST')
        .form-group
            label(for='posts') Item name
            input(type="text" name='pname' placeholder='Enter Sale Item Name Here')#pname.form-control
        .form-group
            label(for='posts') Type
            select(name='porigin')#pname.form-control
                option Apparel / Clothing
                option Art / Office Supplies
                option Computer Products
                option Electronics gadgets
                option Furniture
                option Household gadgets
                option Health / Beauty
                option PlayStation/ Xbox Games
                option Sublight spaceships

        .form-group
            label(for='posts') Item price $
            input(type="text" name='pprice' placeholder='Item price')#pname.form-control

        .form-group
            label(for='posts') Your descriptions
            textarea(type='text' name='pdes' rows='3' placeholder='Be Subjective')#pname.form-control
        
        .form-group
            label(for='posts') Contact Info
            input(type="text" name='pcon' placeholder='Email Adress/ Phone')#pname.form-control

        .form-group
            label(for='posts') Photo of your item
            input(type='file' name='pphoto')#pname.form-control-file

        input(type='submit' value="Submit post").btn.btn-primary
