extends layoutBSBrandeis

block content
  .jumbotron#BrandeisClassSearch

<<<<<<< HEAD
  .jumbotron.text-center#classSearch

  form.form-inline.justify-content-center(method='GET' action="{% url 'search' %}")
    input.form-control.mr-sm-2(name='query' type='text' placeholder='Class name or code')
    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Find Class
=======


  script(src='/javascripts/courseAPI.js')

  div.course-information
    p.course-title
    p.course-description
>>>>>>> 3620d1d35a4d847e2834ccef4f0cc2761a646cdd
