extends layoutBSBrandeis

block content

  #brandeisPage.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='http://www.brandeis.edu/about/images/visiting-index-lovett.jpg', alt='First slide')
      .carousel-caption
        h6 Brandeis University
