extends layoutBS

block content

  .container
      p &nbsp
      .form-row
        .col-lg-3
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='./images/photo0.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Class Schedule
              p.card-text
                | Build your personal class schedule nimble. It is not just a schedule!

        .col-lg-3
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='./images/photo1.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Academy
              p.card-text
                | Want to know major/minor information? Being confused about requirement? You can find everything you need!

        .col-lg-3
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='./images/photo2.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Students' Market
              p.card-text
                | Flea market! Textbooks, furnitures, electronic devices... Attractive in price and quality!

        .col-lg-3
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='./images/photo3.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Bulletin Board
              p.card-text
                | Lively college community! Help you to find more friends!




      footer#welcomePage.pt-4.my-md-5.pt-md-5.border-top
        .row
          .col-6.col-md
            img.mb-2(src='https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg', alt='', width='24', height='24')
            small.d-block.mb-3.text-muted &copy; 2017-2018
          
          .col-6.col-md
            a.text-muted(href='term') Terms 
          .col-6.col-md
            a.text-muted(href='team') About us
          .col-6.col-md
            a.text-muted(href='contacts') Contact us