doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    nav#welcomePage.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='#') CollegeInfo
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#')
              | About us
              span.sr-only (current)
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | School List
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='http://www.brandeis.edu')
                img.d-inline-block.align-top(src='./images/Brandeis.jpeg', width='20', height='20', alt='')
                | &nbsp Brandeis University
              a.dropdown-item(href='http://www.bu.edu')
                img.d-inline-block.align-top(src='./images/BU.jpeg', width='20', height='20', alt='')
                | &nbsp Boston University
              a.dropdown-item(href='https://www.bc.edu')
                img.d-inline-block.align-top(src='./images/BC.jpeg', width='20', height='20', alt='')
                | &nbsp Boston College
              a.dropdown-item(href='https://www.harvard.edu')
                img.d-inline-block.align-top(src='./images/Harvard.jpeg', width='20', height='20', alt='')
                | &nbsp Harvard University
              a.dropdown-item(href='http://web.mit.edu')
                img.d-inline-block.align-top(src='./images/MIT.jpeg', width='20', height='20', alt='')
                | &nbsp Massachusetts Institute of Technology (MIT)
              a.dropdown-item(href='https://www.tufts.edu')
                img.d-inline-block.align-top(src='./images/Tufts.jpeg', width='20', height='20', alt='')
                | &nbsp Tufts University
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          |&nbsp&nbsp

          a.btn.btn-danger(href="/auth/google")
            span.fa.fa-google-plus  Log in via Google

                

    block content
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
