extends layoutBSBrandeis

block content

  .container
      p &nbsp
      .form-row
        .col-lg-4
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='https://media1.popsugar-assets.com/files/thumbor/TXZOZ8Y748Em-OxtfuJKpYW8deA/160x160/filters:format_auto-!!-:strip_icc-!!-:sharpen-!1,0,true!-/2016/10/17/977/n/1922398/12720afe014ba434_GettyImages-615190902/i/Leonardo-DiCaprio-Before-Flood-Premiere-Paris-2016.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Jerry Peng
              p.card-text
                | I'm awesome

        .col-lg-4
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='https://media1.popsugar-assets.com/files/thumbor/TXZOZ8Y748Em-OxtfuJKpYW8deA/160x160/filters:format_auto-!!-:strip_icc-!!-:sharpen-!1,0,true!-/2016/10/17/977/n/1922398/12720afe014ba434_GettyImages-615190902/i/Leonardo-DiCaprio-Before-Flood-Premiere-Paris-2016.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Jialin Zhou
              p.card-text
                | I'm awesome 

        .col-lg-4
          .card#welcomePage
            img.rounded-circle.rounded.mx-auto.d-block(src='https://media1.popsugar-assets.com/files/thumbor/TXZOZ8Y748Em-OxtfuJKpYW8deA/160x160/filters:format_auto-!!-:strip_icc-!!-:sharpen-!1,0,true!-/2016/10/17/977/n/1922398/12720afe014ba434_GettyImages-615190902/i/Leonardo-DiCaprio-Before-Flood-Premiere-Paris-2016.jpg', alt='Card image cap', width='200', height='200')
            .card-body
              h5.card-title Xuxin Zhang
              p.card-text
                | I'm awesome

  h5 Description
  p Our team is awesome
        