body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav#welcomePage{
  background: none;
  font-size: 1.5em;
}

a.navbar-brand{
  font-weight: bold;
  font-size: 1.2em;
}

#welcomePage.carousel {
  height: 600px;
  margin-top: -70px;
  margin-left: -50px;
  margin-right: -50px;
}
